/*   Причины  */

.advantages {
  position: relative;
  z-index: 10;
}

.advantages h2 {
  margin: 29px 40px 0 40px;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-top: 51px;
  padding: 0;

  list-style: none;
}

.advantages-item-wrapper {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 58px;

  font: inherit;
  color: #333333;
  text-align: center;
}

.advantages-item-wrapper h3 {
  width: 156px;
  margin: 0 auto;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.advantages-item-wrapper  p,
.advantages-item-wrapper  span {
  width: 310px;
  margin: 0 auto;
}

.advantages-item {
  min-height: 256px;

  background-color: #eeeeee;
}

.advantages-item:nth-child(2) {
  order: -1;
}

.advantages-item span {
  display: block;

  margin-top: 24px;
}

.advantages-item p {
  margin-top: 22px;
}

.advantages-photo {
  display: flex;
  width: 1200px;
  height: auto;

  background-color: #81b3d2;
}

.advantages-photo-reversed {
  flex-direction: row-reverse;
}

.advantages-photo h3,
.advantages-photo p,
.advantages-photo span {
  color: #ffffff;
}

.advantages-photo img {
  width: 800px;
  height: 256px;

  background-color: #afcadc;
}

.advantages-photo p
.advantages-photo span {
  width: 305px;
}


/*  Особенности  */

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  min-height: 330px;
  padding-top: 161px;
  padding-bottom: 82px;

  background-repeat: no-repeat;
}

.features-item p {
  margin-top: 25px;
  width: 290px;
}

.feature-house {
  background-image: url("../img/icon-house.svg");
  background-size: 75px 72px;
  background-position: center 60px;
}

.feature-food {
  background-image: url("../img/icon-food.svg");
  background-size: 74px 70px;
  background-position: center 62px;
}

.feature-gift {
  background-image: url("../img/icon-gift.svg");
  background-size: 64px 76px;
  background-position: center 56px;
}
