/*   Причины  */

.advantages h2 {
  margin: 0;
  margin-top: 28px;
  margin-right: 40px;
  margin-left: 40px;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-top: 51px;
  padding: 0;

  list-style: none;
}

.advantages-list .item {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 58px;

  font: inherit;
  color: #333333;
  text-align: center;
}

.advantages-list .item h3 {
  width: 160px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.advantages-item {
  min-height: 256px;

  background-color: #eeeeee;
}

.advantages-item:nth-child(2) {
  order: -1;
}

.advantages-list .item  p {
  width: 280px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item p:first-of-type {
  margin-top: 24px;
}

.advantages-item p:nth-of-type(2) {
  margin-top: 21px;
}

.advantages-photo {
  display: flex;
  width: 1200px;

  background-color: #81b3d2;
}

.item-photo-reverse {
  flex-direction: row-reverse;
}

.advantages-photo .item,
.advantages-photo .item h3 {
  color: #ffffff;
}

.advantages-photo .item img {
  width: 800px;
  height: 256px;
}

.advantages-photo .item p {
  width: 305px;
}


/*  Особенности  */

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.features-list .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  min-height: 330px;
  padding-top: 161px;
  padding-bottom: 82px;
}

.features-list .feature-item p {
  margin-top: 25px;
  width: 290px;
}

.features-list .feature-item::before {
  position: absolute;
  content: "";
  top: 56px;

  width: 75px;
  height: 76px;

  background-position: center bottom;
  background-repeat: no-repeat;
}

.feature-house::before {
  background-image: url("../img/icon-house.svg");
}

.feature-food::before {
  background-image: url("../img/icon-food.svg");
}

.feature-present::before {
  background-image: url("../img/icon-present.svg");
}
