/*  Подвал  */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  min-height: 120px;
  /* IE11 */
  /*height: 10px;*/

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-main-page {
  position: absolute;

  margin-top: -120px;
}

.instagram {
  display: inline-block;
  width: 400px;
  text-align: center;
  /*margin-left: 132px;
  margin-right: 45px;*/

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.instagram:hover,
.instagram:focus {
  text-decoration: underline;
}

.instagram:active {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /*max-width: 570px;*/
  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 46px;
  min-height: 48px;
  margin-top: 6px;
  margin-bottom: 6px;

  outline: none;
}

.social-btn:active img {
  opacity: 0.3;
}

.social-tw img {
  width: 17px;
  height: 15px;
}

.social-fb img {
  width: 12px;
  height: 22px;
}

.social-yt img {
  width: 20px;
  height: 16px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  margin: 0;
  /*margin-right: 102px;
  margin-left: 20px;*/

  font-size: 14px;
  line-height: 26px;
}

.copyright a {
  margin-left: 6px;

  outline: none;
}

.copyright path {
  fill: #000000;
}

.copyright a:hover path,
.copyright a:focus path {
  fill: #81b3d2;
}

.copyright a:active path {
  fill: #bdbbbc;
}
