/*  Подвал  */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: inherit;
  min-height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-main-page {
  position: absolute;

  margin-top: -120px;
}

.main-footer::before {
  content: "";

  width: 0;
  height: 120px;
  border: 0;
  margin: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.instagram {
  display: inline-block;
  vertical-align: middle;

  width: 400px;
  margin: 0;
  margin-top: -3px;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.instagram:hover,
.instagram:focus {
  color: #81b3d2;

  outline: none;
}

.instagram:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;
  margin-top: 6px;
  margin-bottom: 6px;

  outline: none;
}

.social-btn:active img {
  opacity: 0.3;
}

.social-tw img {
  width: 17px;
  height: 15px;
}

.social-fb img {
  width: 12px;
  height: 22px;
}

.social-yt img {
  width: 20px;
  height: 16px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
}

.copyright-logo  {
  margin-left: 9px;
  margin-top: 6px;

  outline: none;
}

.copyright-logo  path,
.copyright-logo  rect {
  fill: #000000;
}

.copyright-logo:hover path,
.copyright-logo:focus path,
.copyright-logo:hover rect,
.copyright-logo:focus rect {
  fill: #81b3d2;
}

.copyright-logo:active path,
.copyright-logo:active rect {
  fill: #bdbbbc;
}
