/*  Седона: приветствие  */

.greetings {
  margin-top: -17px;
  text-align: center;
}

.welcome {
  display: flex;

  height: 507px;

  background-color: #afcadc;
  background-image:
    url("../img/polygon.svg"),
    url("../img/photo-background.jpg"),
    linear-gradient(#e3f0f8 30%, #886e65);
  background-position:
    center bottom,
    center top;
  background-repeat:
    no-repeat,
    no-repeat;
}

.welcome img {
  width: 459px;
  height: 353px;
  margin: auto;
}

.greetings p {
  margin: 0;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
