body {
  width: 1200px;
  min-height: 2762px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.inner-page {
  min-height: 455px;
}

.container {
  width: 1058px;
  margin: 0 auto;
  padding: 0;

 /* background-color: rgba(255, 255, 0, 0.2);*/
}

/*  Шапка  */

.main-header {
  text-align: center;
}

.logo {
  z-index: 10;

 /* background-color: rgba(0, 255,  0, 0.1);*/
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: -77px;
  margin-bottom: 16px;
  min-height: 56px;

 /* background-color: rgba(0, 255,  0, 0.1);*/
}

.main-navigation li {
  width: 218px;
  max-width: 218px;
  margin: 0;
  margin-right: 22px;
  text-align: left;
  word-wrap: break-word;

 /* background-color: rgba(255, 0,  0, 0.1);*/
}

.main-navigation ul li:nth-child(4n-2) {
  margin-right: 140px;
}

.main-navigation ul li:nth-child(4n-1) {
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}

.main-navigation ul li:nth-child(4n) {
  margin-right: 0;
  margin-left: 22px;
  text-align: right;
}


/*  Седона: приветствие  */

.greetings {
  margin-top: -16px;
}

.welcome {
  display: flex;
}

.welcome img {
  margin: auto;
}

.greetings p {
  margin: 0;
  margin-top: 60px;

  /*background-color: rgba(0, 255,  0, 0.1);*/
}


/*  5 причин  */

.advantages h2 {
  margin: 0;
  margin-top: 32px;
}

.advantages-list {
  margin: 0;
  margin-top: 55px;
  padding: 0;
}

.advantages-item  h3,
.advantages-item p {
  margin: 0;
}


/*  Поиск гостиницы  */

.hotel-search {
  position: relative;
}

.hotel-search h2 {
  margin: 0;
  margin-top: 56px;
}

.hotel-search p {
  margin: 0;
  margin-top: 35px;
}

.button-show-modal {
  margin-top: 52px;
}


/*  Окно поиска гостиницы  */

.modal-search {
  position: absolute;
  width: 568px;
  left: calc(50% - 568px / 2);
  padding: 55px 55px 55px 55px;
  z-index: 10;

  background-color:  #ffffff;
}


/*  Карта штата  */

.map {
  position: relative;
}

.map img,
.map iframe {
  width: 1200px;
  height: 593px;
  margin-bottom: -5px;
}

.map iframe {
  position: absolute;
  left: 0;
}


/*  hotels.html  */

/*  Фильтр для поиска гостиницы  */

.search-filter {
  margin-top: -16px;
}

.search-form {
  display: flex;
}


/*  Сортировка*/

.sort-filter p {
  margin: 0;
}

.sort-filter .container {
  display: flex;
}

.sort-filter fieldset {
  display: flex;
}

.sort-filter fieldset ul{
  display: flex;
  margin: 0;
  padding: 0;
}


/*  Список гостиниц  */

.hotel-list {
  margin: 0;
  padding: 0;
}

.hotel-item .container {
  display: flex;
  align-items: center;
}

.hotel-info {
  margin-left: 30px;
  margin-right: auto;
}

.hotel-category {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 110px;

  /*background-color: rgba(0, 255, 0, 0.2);*/
}

.rating {
  width: 110px;
  text-align: center;
}

/*  Подвал  */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: inherit;
  min-height: 120px;
}

.footer-main-page {
  margin-top: -120px;
}

.footer-inner-page {
  margin-top: 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 150;
}
