/*  Шапка  */

.main-header {
  text-align: center;
}

.logo,
.logo img {
  z-index: 10;

  width: 140px;
  height: 72px;
  margin-top: -1px;
}

.logo:focus {
  outline: none;
}

.logo:focus img {
  border-radius: 2px;
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 3px #81b3d2;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: 57px;
  margin: 0;
  margin-top: -77px;
  margin-bottom: 16px;
  padding: 0;

  list-style: none;
}

.main-navigation ul::before {
  content: "";

  width: 0;
  height: 57px;
  border: 0;
  margin: 0;
  margin-right: -46px;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation li {
  width: 195px;
  max-width: 195px;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;

  text-align: left;
  word-wrap: break-word;
}

.main-navigation li:nth-child(4n),
.main-navigation li:nth-child(4n-1) {
  text-align: right;
}

.main-navigation li:nth-child(4n-2) {
  margin-right: 140px;
}

.main-navigation a {
  color: #000000;
  outline: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation .active {
  color: #766357;
}
