/*  Фильтр для поиска гостиницы  */

.search-filter {
  margin-top: -16px;

  font: inherit;
  color: #ffffff;

  background-color: #687781;
  background-image: url("../img/photo-background-filter.jpg");
  background-position: center -57px;
  background-repeat: no-repeat;
}

.search-form {
  display: flex;
  flex-wrap: wrap;

  padding-top: 26px;
  padding-bottom: 32px;
}

.search-form fieldset {
  width: 230px;
  margin-right: 25px;
  margin-left: 0;
  padding: 0;

  border: none;
}

.search-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.search-form ul {
  list-style: none;

  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.search-form li {
  margin-bottom: 25px;
}

.search-form li:last-child {
  margin-bottom: 0;
}

.last-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 318px;
  margin-left: auto;
}

fieldset.filter-price {
  width: 100%;
  margin-right: 0;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-top: 10px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;
  vertical-align: middle;

  width: 90px;
  padding-left: 65px;

  font-size: 14px;
  line-height: 32px;

  cursor: pointer;
}

.price-controls input {
  vertical-align: middle;
  width: 58px;
  height: 32px;
  margin: 0;
  margin-left: -3px;
  padding: 0;
  padding-left: 3px;

  font: inherit;
  font-size: 14px;
  line-height: 32px;
  color: inherit;

  background: none;
  border: none;
}

.price-controls input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #81b3d2;
}

.filter-button {
  align-self: center;

  max-width: 100%;
  margin-top: 18px;
  margin-right: 9px;
  margin-bottom: 2px;
  padding: 5px 34px;

  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

/*  Чекбоксы  */

.filter-input-checkbox + label {
  position: relative;

  margin-left: 40px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: #ffffff;

  border-bottom: 2px solid #ffffff;
}

.filter-input-checkbox:disabled + label {
  color: #6a6a6a;

  border: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  left: -40px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url("../img/checkbox-off.svg")
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg")
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  background-image: url("../img/checkbox-on.svg")
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
  cursor: auto;
}

.filter-input-checkbox:disabled:checked + label::before {
  background-image: url("../img/checkbox-on-disabled.svg")
}


/*  Двойной range  */

.double-range-controls {
  position: relative;

  width: 100%;
  margin-top: 20px;
}

.double-range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.double-range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: #81b3d2;
  outline: none;
  box-shadow: 0 0 0 2px #81b3d2;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
