/*  Сортировка  */

.sort-filter {
  border-bottom: 1px solid #e5e5e5;
}

.sort-form {
  display: flex;
  align-items: flex-end;

  padding-top: 29px;
  padding-bottom: 31px;
}

.sort-filter p {
  margin: 0;
  margin-right: 47px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-filter fieldset {
  border: none;
}

.sort-name-wraper {
  display: flex;
  align-items: baseline;
}


.sort-filter ul {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-name {
  max-width: 807px;
  margin: 0;
  padding: 0;
}

.sort-name-title {
  margin: 0;
  margin-right: 40px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-name li {
  margin-right: 33px;
}

.sort-name-radio + label {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-name-radio:hover + label {
  color: #81b3d2;
}

.sort-name-radio:focus + label {
  color: #81b3d2;

  border-radius: 2px;
  box-shadow:
    0 0 0 3px #ffffff,
    0 0 0 4px #81b3d2;
}

.sort-name-radio:active + label {
  color: #000000;

  border-bottom: 0;
}

.sort-name-radio:checked + label {
  color: #81b3d2;

  border-bottom: none;
}

/*  Кнопки сортировки по возрастанию / убыванию  */

.sort-type {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sort-type li {
  margin-right: 24px;
}

.sort-type li:last-child {
  margin-right: 0;
}

.sort-form /*.sort-type-radio + label*/ {
  position: relative;
}

.sort-type-radio + label::before {
  position: absolute;
  content: "";
  top: 50%;

  width: 11px;
  height: 11px;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  transform: translate(-100%, -50%);
}

.up-dir + label::before {
  background-position: -10px -447px;
}

.up-dir:hover + label::before,
.up-dir:focus + label::before {
  background-position: -10px -417px;
}

.up-dir:active + label::before,
.up-dir:checked + label::before {
  background-position: -10px -387px;
}

.down-dir + label::before {
  background-position: -10px -357px;
}

.down-dir:hover + label::before,
.down-dir:focus + label::before {
  background-position: -10px -327px;
}

.down-dir:active + label::before,
.down-dir:checked + label::before {
  background-position: -10px -297px;
}

.sort-type-radio:focus + label::before {
  border-radius: 2px;
  box-shadow:
    0 0 0 3px #ffffff,
    0 0 0 4px #81b3d2;
 }
