/*  Сортировка  */

.sort-filter {
  border-bottom: 1px solid #e5e5e5;
}

.sort-form {
  display: flex;
  align-items: baseline;

  padding-top: 29px;
  padding-bottom: 26px;
}

.sort-filter p {
  margin: 0;
  margin-right: 47px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-filter fieldset {
  border: none;
}

.sort-name-wraper {
  display: flex;
  align-items: baseline;
}


.sort-filter ul {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-name {
  max-width: 807px;
  margin: 0;
  padding: 0;
}

.sort-name-title {
  margin: 0;
  margin-right: 40px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-name li {
  margin-right: 33px;
}

.sort-name-radio + label {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-name-radio:hover + label {
  color: #81b3d2;
}

.sort-name-radio:focus + label {
  color: #81b3d2;

  border-radius: 2px;
  box-shadow:
    0 0 0 3px #ffffff,
    0 0 0 4px #81b3d2;
}

.sort-name-radio:active + label {
  color: #000000;

  border-bottom: none;
}

.sort-name-radio:checked + label {
  color: #81b3d2;

  border-bottom: none;
}

/*  Кнопки сортировки по возрастанию / убыванию  */

.sort-type {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sort-type li {
  margin-right: 13px;
}

.sort-type li:last-child {
  margin-right: 0;
}

.sort-type-radio + label {
  position: relative;

  width: 11px;
  height: 10px;

  font-size: 0;
}

.sort-type-radio + label::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 10;

  width: 11px;
  height: 10px;
}

.sort-type-radio + label polygon,
.sort-type-radio + label polyline {
  fill: #cacaca;
}

.sort-type-radio + label:hover polygon,
.sort-type-radio:focus + label polygon,
.sort-type-radio + label:hover polyline,
.sort-type-radio:focus + label polyline {
  fill: #231f20;
}

.sort-type-radio:active + label polygon,
.sort-type-radio:checked + label polygon,
.sort-type-radio:active + label polyline,
.sort-type-radio:checked + label polyline {
  fill: #81b3d2;
}

.sort-type-radio:focus + label svg {
  border-radius: 2px;
  box-shadow:
    0 0 0 3px #ffffff,
    0 0 0 4px #81b3d2;
 }
