/*  Временно для IE  */
/*.PP {
  position: absolute;
  width: 1280px;
  top: 0;
  left: 0px;
  display: none;
  background-repeat:  no-repeat;
  opacity: 0.4;
  z-index: 100;
}
.main-page .PP {
  height: 2762px;
  background-image: url("../sedona-index.png");
}
.hotels-page .PP {
  height: 933px;
  background-image: url("../sedona-hotels.png");
}*/

/*  Глобальные  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

.block {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}

.focus-outline:focus {
  outline: none;
  border-radius: 2px;
  box-shadow:
    0 0 0 3px #ffffff,
    0 0 0 4px #81b3d2;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  /*margin: 0 40px;*/
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*  Ссылки  */

a {
  text-decoration: none;
}

/*  Картинки  */
img {
  max-width: 100%;
  height: auto;
}

/*  Чекбоксы и радиокнопки  */

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: default;
}

/*  Кнопки  */

.button {
  display: block;

  padding: 4px 17px 3px;
  font: inherit;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  outline: none;
  cursor: pointer;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
  outline: none;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  outline: none;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
  outline: none;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline: none;
}


/*  Шапка  */



/*  index.html  */

/*  Седона: приветствие  */



/*   Причины  */



/*  Поиск гостиницы  */



/*  Карта штата  */



/*  hotels.html  */

/*  Фильтр для поиска гостиницы  */



/*  Сортировка  */



/*  Список гостиниц  */




/*  Подвал  */

